#addLollipopForm-box{
border: dotted #00D26A 4px;
width: 20rem;
height: auto;
position: absolute;
top: 120px; left:100px;
padding: 1rem;

.oneLollipop-card{
    border: dotted #e250ff 2px;
    width: 10rem;
    height: auto;
    margin-top: 1rem;
}
}